.my-posts-container {
  padding: 20px;
  text-align: center;
}

.post-card {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row; /* Keep the default flex direction as row */
  align-items: center;
  justify-content: space-between;
}

.post-card.post-reverse {
  flex-direction: row-reverse;
}
.post-content{
  display: flex;
}
.image-content img{
  height: 500px;
  width: 700px;
}

.post-text {
  flex: 1;
  padding-right: 20px;
  text-align: left;
  margin-top: 100px;
}
.post-text h2{
  margin-left: 275px;
}

.post-text h3 {
  margin-top: 0;
  margin-left: 270px;
}

.post-text p {
  font-size: 15px;
  margin: 0;  
}
.post-text button{
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 270px;
  margin-top: 20px;
  cursor: pointer;
  background-color: whitesmoke;
  border: 1px solid gray;
}