<div class="my-posts-container">
  <div *ngFor="let post of aboutData; let i = index" [ngClass]="{'post-card': true, 'post-reverse': i % 2 === 1}">
    <div class="post-content">
      <div class="post-text">
        <h2>Introducing</h2>
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <button routerLink="/visit">Take a Tour</button>
      </div>
      <div class="image-content">
        <img src="{{ post.imageUrl }}" alt="" class="post-image">
      </div>
    </div>
  </div>
</div>

