
<div class="main">
    <h1 class="titleTest">Find out if you are a natural born artist like Vicent Van-Dog!</h1>
    <section class="mainBox">
      <!-- Slideshow -->
      <div class="boxGallery">
        <img src="../../assets/gallery1.jpg" alt="Gallery pictures" class="imagesGallery" />
      </div>
  
      <form action="artist_test.html" class="form_test" id="artist_test">
        <fieldset class="artistTest">
          <legend class="testLegend">Artist Test</legend>
          <app-question-list></app-question-list>
        </fieldset>
      </form>
    </section>
  </div>
